<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Instagram</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <a href="/feed" class="navbar-brand">
      <i class="fa-brands fa-instagram"></i> JatinIG
    </a>
    <div class="nav-links">
      <% if (typeof user !=='undefined' ) { %>
        <a href="/create-post"><i class="fa-solid fa-plus-square"></i> Create Post</a>
        <a href="/profile/<%= user.username %>"><i class="fa-solid fa-user"></i> Profile</a>
        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        <% } else { %>
          <a href="/login">Login</a>
          <a href="/register" class="btn" style="padding: 0.5rem 1rem;">Sign Up</a>
          <% } %>
    </div>
  </nav>